
*.nlp18
*.csv
*.txt
*.json
experiments/ablations/better_summaries/temp.py
experiments/ablations/ctrl/temp.py
experiments/baseline_model/sandbox.py
experiments/multi_stage_refinement/multi_gpu_infernce_tries.py
DeFacto/data/test.jsonl
DeFacto/data/train.jsonl
DeFacto/data/val.jsonl
additional_datasets/tldr/temp.py
experiments/multi_stage_refinement/sandbox.py
TrueTeacher/sandbox.py
experiments/revision/sandbox.py
experiments/xsum_4_sets_experiment/sandbox.py
experiments/revision/inhouse_revision/sandbox.py
experiments/revision/llm_revision/cot_prompt_ablations.ipynb
experiments/revision/llm_revision/compare_outputs.py
experiments/revision/data/base_model_50000_documents/dev_set/change cols.py
experiments/revision/data/base_model_50000_documents/unrevised/change_cols.py
experiments/revision/data/base_model_50000_documents/cot_prompts/original/labeling 30 examples
experiments/revision/data/base_model_50000_documents/change cols.py
experiments/refinement/analysis_on_hyperparameters_tuning.ipynb
experiments/refinement/temp.py
experiments/refinement/upload_all_results_to_wandb.py
experiments/revision/__init__.py
experiments/poc/sandbox.py
experiments/poc/compare_gpt_to_turbo.py
experiments/poc/compare_gpt_to_turbo.py
/additional_datasets
/experiments/revision/inhouse_revision/alignment
DeFacto/sandbox.py
experiments/errors_detection/main.py
/experiments/ibm_analysis
experiments/poc/compare_gpt_to_turbo.py
experiments/poc/compare_gpt_to_turbo.py
experiments/poc/compare_gpt_to_turbo.py
